@charset "UTF-8";

@media screen and (min-width:768px) {
    #menuico {
        display: none;
    }

    menu {
        display: block;
    }

    menu li {
        display: inline-block;
    }

    menu a {
        border: 2px solid rgb(75, 0, 75);
    }

    main {
        width: 700px;
    }
}